<% company.updates().each(function (update) { %>
  <div class="modal fade update-modal" id="<%= update.cid %>-modal" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content clearfix">

        <div class="modal-body">
          <form id='update-modal-form' data-update-id='<%= update.id %>'>

            <div class='form-group'>
              <label for='update_title'>Title</label>
              <input id='update_title' name='update[title]'
                class='form-control' value='<%= update.escape('title') %>'
                data-title-field='#<%= update.cid %>-modal'>
            </div>

            <div class='form-group'>
              <label for='update_body'>Body</label>
              <textarea id='update_body' name='update[body]'
                class='form-control'><%= update.escape('body') %></textarea>
            </div>

            <h5><a href='http://daringfireball.net/projects/markdown/'>
              Markdown</a> is available to help you write your updates.</h5>

            <button type='submit' class='btn btn-primary'>
              Save Changes
            </button>
            <button class='btn btn-danger update-delete-btn'
              data-id='<%= update.id %>'>Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<% }); %>