<div id='company-preview' class='col-md-6 edit-card'>
  <div class='company-card pull-right'>
    <div id='preview-picture'>
      <a href='<%= company.bbUrl() %>'><img src="<%= company.escape('photo_url') %>" id='preview-company-photo'></a>
    </div>
    <div class='card-description'>
      <div class='card-info'>
        <p id='preview-title'><a href='<%= company.bbUrl() %>'><%= company.escape('name') %></a></p>
        <p id='preview-blurb'><%= company.escape('blurb') %></p>
      </div>
      <div class='card-footer'>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          <span id='preview-location'><%= company.escape('location') %></span>
        </p>
        <div class='card-divider'>
          <div class='card-progress-bar' style='width: <%= company.escape('percentage_raised') %>%'>
          </div>
        </div>
        <div class='row card-details'>
          <!-- replace these numbers with current data -->
          <div class='col-md-4'>
            <%= company.escape('percentage_raised') %>%
            <p class='gray'>funded</p>
          </div>
          <div class='col-md-4'>
            $<%= numberWithCommas(company.escape('amount_raised')) || 0 %>
            <p class='gray'>raised</p>
          </div>
          <div class='col-md-4'>
            <%= numberWithCommas(company.escape('equity')) || 0 %>%
            <p class='gray'>equity</p>
          </div>
          <div class='col-md-4'>
            <%= numberWithCommas(company.escape('days_left')) || 0 %>
            <p class='gray'>
            <%= company.escape('days_left') == 1 ? 'day' : 'days' %>
            to go</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>