<div class='center'>
  <h1><%= company.escape('name') %></h1>
  <h4>Add an image, your pitch, and other important details.</h4>
  <h4>View your <a href='<%= company.bbUrl() %>'>company</a> page</h4>

  <ul class='nav nav-tabs nav-justified edit-tabs'>
    <li class='active'><a href='#basics' data-toggle='tab'>Basics</a></li>
    <li><a href='#story' data-toggle='tab'>Story</a></li>
    <li><a href='#about-you' data-toggle='tab'>About You</a></li>
    <li><a href='#updates' data-toggle='tab'>Company Updates</a></li>
    <li><a href='#comments' data-toggle='tab'>Comments</a></li>

  </ul>
</div>

<div class='tab-content clearfix edit-tab-content'>
  <%= JST['companies/edit/basics']({ company: company, sectors: sectors }) %>
  <%= JST['companies/edit/story']({ company: company }) %>
  <%= JST['companies/edit/about']({ company: company }) %>
  <%= JST['companies/edit/updates']({ company: company }) %>
  <%= JST['companies/edit/comments']({ company: company }) %>
  <%= JST['companies/company_card']({ company: company }) %>
</div>