<h1 class='center' id='company-show-title'><%= company.escape('name') %></h1>
<div class='company-show-info'>
  <ul class='nav nav-pills show-nav'>
    <li class='active'><a href='#home' data-toggle='pill'>Home</a></li>
    <li><a href='#updates' data-toggle='pill'>Updates <span class='update-count nav-num'>0</span></a></li>
    <li><a href='#investors' data-toggle='pill'>Investors <span class='investor-count nav-num'>0</span></a></li>
    <li><a href='#comments' data-toggle='pill'>Comments <span class='comment-count nav-num'>0</span></a></li>
  </ul>

  <div class='company-form company-show row tab-content'>
    <div class='tab-pane active fade in' id='home'><!-- Home Start -->
      <div class='col-md-8 left-show'><!-- Left Show Start -->
        <img src='missing.png' id='company-show-photo'>
      </div><!-- Left Show End -->
      <div class='col-md-4 right-show'><!-- Right Show Start -->
        <div class='company-stats'>
          <h1 class='stats-title investor'><span class='investor-count'>0</span></h1>
          <span class='stats-span investor'>investors</span>

          <h1 class='stats-title raised'>$<%= company.escape('amount_raised') || 0 %></h1>
          <span class='stats-span raised'>
            pledged of $<%= company.escape('investment_goal') %> goal
          </span>

          <h1 class='stats-title days'><%= company.escape('days_left') || 0 %></h1>
          <span class='stats-span days'>days to go</span>
        </div>

        <button class='btn btn-lg btn-primary pledge-btn' data-toggle='modal'
          data-target='#pledge-modal'>
          <p>Back This Company</p>
          <p>$1 Minimum Pledge</p>
        </button>
      </div><!-- Right Show End -->
    </div><!-- Home End -->

    <div class='tab-pane fade in' id='updates'><!-- Update Start -->
      <h1>Updates</h1>
    </div><!-- Update End -->

    <div class='tab-pane fade in' id='investors'><!-- Investor Start -->
      <h1>Investors</h1>
    </div><!-- Investor End -->

    <div class='tab-pane fade in' id='comments'><!-- Comment Start -->
      <h1>Comments</h1>
    </div><!-- Comment End -->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="pledge-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-pledge modal-dialog-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel"><%= company.escape('name') %></h3>
        </div>
        <div class="modal-body row">
          <div class='col-md-6'>
            <form class='pledge-form'>
              <input type='hidden' name='investment[company_id]' value='<%= company.id %>'>
              <label for='pledge-amount'><h4>Enter your pledge amount</h4></label>
              <div class='form-group pledge-wrapper'>
                <span class="currency">$</span>
                <input type='text' name='investment[amount]' id='pledge-amount'
                  class='form-control input-lg'>
              </div>
              <img src='amazon_payments.png'></img>
            </form>
          </div>
          <div class='col-md-6'>
            <div id='pledge-faq'>
              <h5>FREQUENTLY ASKED QUESTIONS</h5>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        How do I pledge?
                      </a>
                    </p>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      Realistically, I would have an API set up so that actual investments could be done through Amazon Payments; however, for the sake of this demo, by simply inputting a pledge amount in the input field on the left and hitting pledge, you can `pledge` money to the company of your choice.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        When is my card charged?
                      </a>
                    </p>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        So I'm only charged if funding succeeds?
                      </a>
                    </p>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id='pledge-submit'>Pledge</button>
        </div>
      </div>
    </div>
  </div>
</div>