<div class='discover-panel tab-pane clearfix' id='art'>
  <h3>Art &amp; Design</h3>

  <% _(companies.findBySector('Art & Design')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='education'>
  <h3>Education</h3>

  <% _(companies.findBySector('Education')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='environmental'>
  <h3>Environmental &amp; Ethical</h3>

  <% _(companies.findBySector('Environmental & Ethical')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='film'>
  <h3>Film, TV, &amp; Theatre</h3>

  <% _(companies.findBySector('Film, TV, & Theatre')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='food'>
  <h3>Food</h3>

  <% _(companies.findBySector('Food')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='games'>
  <h3>Games</h3>

  <% _(companies.findBySector('Games')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='health'>
  <h3>Health &amp; Fitness</h3>

  <% _(companies.findBySector('Health & Fitness')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='media'>
  <h3>Media &amp; Creative Services</h3>

  <% _(companies.findBySector('Media & Creative Services')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='professional'>
  <h3>Professional &amp; Business Services</h3>

  <% _(companies.findBySector('Professional & Business Services')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='retail'>
  <h3>Retail</h3>

  <% _(companies.findBySector('Retail')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='sport'>
  <h3>Sport &amp; Leisure</h3>

  <% _(companies.findBySector('Sport & Leisure')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>

<div class='discover-panel tab-pane clearfix' id='technology'>
  <h3>Technology</h3>

  <% _(companies.findBySector('Technology')).each(function(company) { %>
    <div class='index-card'>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  <% }); %>
</div>