<div class='row'>
  <div class='col-md-6 photo'>
    <a href='#/companies/<%= company.id %>'>
      <img src='<%= company.escape('medium_photo') %>'></img>
    </a>
  </div>
  <div class='col-md-6 body'>
    <h4><a href='<%= company.bbUrl() %>'><%= company.escape('name') %></a></h4>
    <p class='blurb'><%= company.escape('blurb') %></p>
    <p>
      <span class="glyphicon glyphicon-map-marker"></span>
      <span id='preview-location'><%= company.escape('location') %></span>
    </p>
    <div class='card-divider'>
      <div class='card-progress-bar' style='width:
        <%= company.escape('percentage_raised') %>%'>
      </div>
    </div>
    <div class='footer row'>
      <div class='col-md-3'>
        <%= company.escape('percentage_raised') %>%
        <p class='gray'>funded</p>
      </div>
      <div class='col-md-3'>
        $<%= numberWithCommas(company.escape('amount_raised')) || 0 %>
        <p class='gray'>raised</p>
      </div>
      <div class='col-md-3'>
        <%= company.escape('equity') || 0 %>%
        <p>equity</p>
      </div>
      <div class='col-md-3'>
        <%= numberWithCommas(company.escape('days_left')) %>
        <p><%= company.escape('days_left') == 1 ? 'day' : 'days' %>
        to go</p>
      </div>
    </div>
  </div>
</div>