<div class='tab-content'>
  <div class='tab-pane active fade in' id='home'>

    <!-- photo url is wrong. refactor json -->
    <img src='<%= company.escape('photo_url') || 'missing.png' %>' id='company-show-photo'>

    <div class='company-story'>
      <h3 class='story-details company-pitch'>The Pitch</h3>
      <div class='company-pitch'>
      </div>

      <h3 class='story-details company-market'>The Market</h3>
      <div class='company-market'></div>
    </div>
  </div>

  <%= JST['companies/show/updates']({ company: company }) %>
  <%= JST['companies/show/investors']({ company: company }) %>
  <%= JST['companies/show/comments']({ company: company }) %>
</div>

<%= JST['companies/show/payment_modal']({ company: company }) %>
