<div class='tab-content'>
  <%= JST['companies/show/home']({ company: company }) %>
  <%= JST['companies/show/updates']({ company: company }) %>
  <%= JST['companies/show/investors']({ company: company }) %>
  <%= JST['companies/show/comments']({ company: company }) %>
</div>

<%= JST['companies/show/payment_modal']({ company: company }) %>
