<div class='company-stats'>
  <h1 class='stats-title investor'>
    <span class='investor-count'></span>
  </h1>
  <span class='stats-span investor'>
    <%= company.investors().length === 1 ? 'investor' : 'investors' %>
  </span>

  <h1 class='stats-title amount-raised'></h1>
  <span class='stats-span'>pledged of
    $<span class='investment-goal'>0
    </span> goal
  </span>

  <h1 class='stats-title days-left'>0</h1>
  <span class='stats-span days'>
    <%= company.escape('days_left') === '1' ? 'day' : 'days' %>
    to go
  </span>
</div>

<button class='btn btn-lg btn-primary pledge-btn' data-toggle='modal'
  data-target='#pledge-modal'>
  <p>Back This Company</p>
  <p>$1 Minimum Pledge</p>
</button>

<p class='pledge-msg'>This company is only funded if at least
  $<span class='investment-goal'>0</span>
  is pledged by <%= company.escape('end_date') %>.</p>

  <div class='show-sidebar-details'>
    <h4>Company Details</h4>
    <table class="table table-striped table-condensed">
      <tr>
        <td>Founder:</td>
        <td>
          <a href='#/profile/<%= company.founder().escape('id') %>'>
          <%= company.founder().escape('name') ||
            company.founder().escape('username') %>
          </a>
        </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= company.escape('location') %></td>
      </tr>
      <tr>
        <td>Website:</td>
        <td>
          <a href='<%= company.escape('website') %>'>
            <%= company.escape('website') %>
          </a>
        </td>
      </tr>
      <tr>
        <td>Equity:</td>
        <td><%= company.escape('equity') %>%</td>
      </tr>
      <tr>
        <td>Sector:</td>
        <td><%= company.escape('sector') %></td>
      </tr>
    </table>
  </div>