<!DOCTYPE html>
<html>
<head>
  <title>ackstarter</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<div id="fb-root"></div>

<%= render partial: 'shared/nav' %>

<div id="index-main">
</div>

<div class="container" id="main">
  <%= yield %>
</div>

</body>
</html>
