<!DOCTYPE html>
<html>
<head>
  <title>Hackstarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <h4>logged in as <%= current_user.username %></h4>
<% end %>

<%= yield %>

</body>
</html>
