<!DOCTYPE html>
<html>
<head>
  <title>ackstarter</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/nav' %>

<div id="index-main">
</div>

<div class="container" id="main">
  <%= yield %>
</div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9828364;
var sc_invisible=1;
var sc_security="7d496a1c";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
